extends ../layout

block mainContent
    div.row
        block intro
            - if (navigation.content.intro.introCaption || navigation.content.intro.introText)
                div.col.s12
                    div.section.scrollspy
                    p.caption=navigation.content.intro.introCaption
                    p=navigation.content.intro.introText
        div.divider
        block subNavigations
            div.col.s12.section
                each subNavigation, key in navigation.subNavigations
                    div.col.s12.l6: div.card.medium
                        div.card-image
                            a(href=subNavigation.route)
                                img(src="/images/kleine_roodwang.jpg")
                                span.card-title=subNavigation.teaserTitle
                        div.card-content
                            p=subNavigation.teaserSubTitle
                        div.card-action
                            a(href=subNavigation.route) Meer info
        div.divider
        block outro
            - if (navigation.content.outro)
                div.col.s12.section
                    p=navigation.content.outro.outroText

